.gradle
/local.properties
.DS_Store
/build

/.idea
app/app.iml
/.gradle

*.iml

*.pro

*.properties

*.bat

MyAppPortfolio/settings.gradle

MyAppPortfolio/gradlew

MyAppPortfolio/gradle/wrapper/gradle-wrapper.jar
